<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - CSS Transitions</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="../../07-list-rendering/7.0-css/styles.css">
    <style>
        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        .slide-fade-enter-active {
        transition: all .3s ease;
        }
        .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
        }
    </style>
</head>
<body>
    <h1>Transitioning Single Elements/Components</h1>
    <h2>CSS Transitions</h2>
    <p>One of the most common transition types uses CSS transitions. Here’s an example:</p>
    <pre>
        HTML:
        &lt;div id="example-1"&gt;
            &lt;button @click="show = !show"&gt;
                Toggle render
            &lt;/button&gt;
            &lt;transition name="slide-fade"&gt;
                &lt;p v-if="show"&gt;hello&lt;/p&gt;
            &lt;/transition&gt;
          &lt;/div&gt;
    </pre>
    <pre>
        JS:
        new Vue({
            el: '#example-1',
            data: {
                show: true
            }
        })
    </pre>
    <pre>
        CSS:
        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
            transform: translateX(10px);
            opacity: 0;
        }
    </pre>
    <h3>Thực hành</h3>
    <div id="app12">
        <button @click="show = !show">
            Toggle render
        </button>
        <transition name="slide-fade">
            <p v-if="show">hello</p>
        </transition>
    </div>

    <script src="1.2.js"></script>
</body>
</html>