<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - CSS Animations</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="../../07-list-rendering/7.0-css/styles.css">
    <style>
        .bounce-enter-active {
            animation: bounce-in .5s;
        }
        .bounce-leave-active {
            animation: bounce-in .5s reverse;
        }
        @keyframes bounce-in {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
</head>
<body>
    <h1>Transitioning Single Elements/Components</h1>
    <h2>CSS Animations</h2>
    <p>CSS animations are applied in the same way as CSS transitions, the difference being that <code>v-enter</code> is not removed immediately after the element is inserted, but on an <code>animationend</code> event.</p>
    <p>Here’s an example, omitting prefixed CSS rules for the sake of brevity:</p>
    <pre>
        HTML:
        &lt;div id="example-2"&gt;
            &lt;button @click="show = !show"&gt;Toggle show&lt;/button&gt;
            &lt;transition name="bounce"&gt;
                &lt;p v-if="show"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.&lt;/p&gt;
            &lt;/transition&gt;
          &lt;/div&gt;
    </pre>
    <pre>
        JS:
        new Vue({
            el: '#example-2',
            data: {
                show: true
            }
        })
    </pre>
    <pre>
        CSS:
        .bounce-enter-active {
            animation: bounce-in .5s;
        }
        .bounce-leave-active {
            animation: bounce-in .5s reverse;
        }
        @keyframes bounce-in {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
    </pre>
    <h3>Thực hành</h3>
    <div id="app12">
        <button @click="show = !show">Toggle show</button>
        <transition name="bounce">
            <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.</p>
        </transition>
    </div>

    <script src="1.2.js"></script>
</body>
</html>