<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - v-for with an Object - app2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app1">
        <p>
            Bạn cũng có thể cung cấp tham số thứ hai dùng cho khóa (key) của thuộc tính.
        </p>
        <ul>
            <li v-for="(value, key) in object">
                {{ key }}: {{ value }}
            </li>
        </ul>
        <ul>
            <li v-for="(key, value) in object">
                {{ key }}: {{ value }}
            </li>
        </ul>
    </div>
    <script src="app1.js"></script>
</body>
</html>