<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Mapping an Array to Elements with v-for - app3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        code {
            color: #f66;
        }
    </style>
</head>
<body>
    <div id="app2">
        <p>
            Bạn cũng có thể dùng <code>of</code> để phân cách thay vì <code>in</code>.
            Cách này cũng gần hơn với cú pháp vòng lặp trong JavaScript.
        </p>
        <ul>
            <li v-for="item of items">
              {{ item.name }}
            </li>
            <br>
            <li v-for="(item, index) of items">
                {{ parentMessage }} - {{ index }} - {{ item.name }}
              </li>
        </ul>
    </div>
    <script src="app2.js"></script>
</body>
</html>